In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql.cursors
import os
import getpass

In [ ]:
pip install pymysql

In [ ]:
pw = getpass.getpass()

In [ ]:
connection_string = 'mysql+pymysql://root:' + pw + '@localhost:3306/'
engine = create_engine(connection_string)

In [ ]:
sql = """ select * from sakila.city """

new_df = pd.read_sql_query(sql, engine)

In [43]:
pw

'Vishal@05'