# Introduction to Pandas

In [ ]:
import pandas as pd

### Creating a DataFrame from Python objects

In [ ]:
df = pd.DataFrame(["a", "b", "c"], columns=["numbers"])

In [ ]:
df = pd.DataFrame([
    [1, "hello", True],
    [2, "hey", False],
    [3, "Paris", False],
    [3, "test", True],
], columns=["numbers", "word", "some_bool"])

In [ ]:
books = [
    {"Author": "a", "Title": "A", "Year": 1990},
    {"Author": "b", "Title": "B", "Year": 1991},
    {"Author": "c", "Title": "C", "Year": 1992},
    {"Author": "d", "Title": "D", "Year": 1993},
]

In [ ]:
df = pd.DataFrame(books)
df

In [ ]:
df.to_dict(orient='records')

In [ ]:
len(df.columns)

In [ ]:
df[["Year", "Author"]]

In [ ]:
type(df[["Year"]])

In [ ]:
type(df["Year"])

In [ ]:
df.columns

### Reading a DataFrame from a file / exporting to a file

In [ ]:
import seaborn as sns

In [ ]:
df = sns.load_dataset('titanic')
df.head()

In [ ]:
df.to_csv('titanic.csv', index_label='passenger_id')

In [ ]:
# ! head titanic.csv
# ! type titanic.csv

In [ ]:
# ! wc -l titanic.csv

In [ ]:
df = pd.read_csv("titanic.csv", sep=";", encoding="utf8", usecols=["Survived", "Name"])

In [ ]:
df = pd.read_excel("myfile.xlsx")

In [ ]:
pd.read_json("myfile.json")

### Reading and writing from/to SQL from/to Pandas

In [ ]:
# If you are using PIP:
#
# pip install "sqlalchemy<2.0.0"
# pip install mysqlclient
#
# OR if you are using Anaconda:
#
# conda install "sqlalchemy<2.0.0"
# conda install mysqlclient

In [ ]:
MYSQL_CONNECTION_STRING = "mysql://root@localhost/ironhack"
df = pd.read_sql("SELECT * FROM `co2_emissions`", MYSQL_CONNECTION_STRING)

In [ ]:
df.to_sql('co2_emissions_bis', MYSQL_CONNECTION_STRING, if_exists='replace', index=False)

In [ ]:
pd.read_sql("SELECT * FROM `co2_emissions_bis`", MYSQL_CONNECTION_STRING)

### Applying Mathematical Functions to Data Frames

In [ ]:
df = pd.read_csv("titanic.csv", sep=";")

In [ ]:
df["age"].mean()

In [ ]:
df[["age", "fare"]].mean()

In [ ]:
df.head()

In [ ]:
print(df.iloc[0,3])
print(df.iloc[0:3,2:4])
display(df.iloc[0:5, [2,3,8]])

In [ ]:
display(df.loc[[0,1,2,3],'sex'])
display(df.loc[0:5,'sex'])
display(df.loc[:,['class','alive']])
display(df.loc[:,'class':'alive'])

In [ ]:
display(df.loc[df['class']=='First','age'].mean())

In [ ]:
df['sibsp_plus_parch'] = df['sibsp']==df['parch']

In [ ]:
df

In [ ]:
df['embark_town'].value_counts(ascending=True).idxmax()