# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.tree import plot_tree, export_text


# Challenge 1 - Import and Describe the Dataset

#### In this challenge we will use the `austin_weather.csv` file. 

#### First import it into a data frame called `austin`.

In [2]:
# Your code here

austin = pd.read_csv('austin_weather.csv')
austin.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,

In [3]:
lower_and_snake = lambda x: x.lower().replace(" ","_")
austin.columns = list(map(lower_and_snake,list(austin.columns)))

In [4]:
austin.head()

,date,temphighf,tempavgf,templowf,dewpointhighf,dewpointavgf,dewpointlowf,humidityhighpercent,humidityavgpercent,humiditylowpercent,...,sealevelpressureavginches,sealevelpressurelowinches,visibilityhighmiles,visibilityavgmiles,visibilitylowmiles,windhighmph,windavgmph,windgustmph,precipitationsuminches,events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,

In [5]:
austin.isnull().sum()

date                          0
temphighf                     0
tempavgf                      0
templowf                      0
dewpointhighf                 0
dewpointavgf                  0
dewpointlowf                  0
humidityhighpercent           0
humidityavgpercent            0
humiditylowpercent            0
sealevelpressurehighinches    0
sealevelpressureavginches     0
sealevelpressurelowinches     0
visibilityhighmiles           0
visibilityavgmiles            0
visibilitylowmiles            0
windhighmph                   0
windavgmph                    0
windgustmph                   0
precipitationsuminches        0
events                        0
dtype: int64

#### Next, describe the dataset you have loaded: 
- Look at the variables and their types
- Examine the descriptive statistics of the numeric variables 
- Look at the first five rows of all variables to evaluate the categorical variables as well

In [6]:
# Your code here
austin.value_counts()

print(austin.dtypes)

date                          object
temphighf                      int64
tempavgf                       int64
templowf                       int64
dewpointhighf                 object
dewpointavgf                  object
dewpointlowf                  object
humidityhighpercent           object
humidityavgpercent            object
humiditylowpercent            object
sealevelpressurehighinches    object
sealevelpressureavginches     object
sealevelpressurelowinches     object
visibilityhighmiles           object
visibilityavgmiles            object
visibilitylowmiles            object
windhighmph                   object
windavgmph                    object
windgustmph                   object
precipitationsuminches        object
events                        object
dtype: object

In [7]:
print(austin.describe())

         temphighf     tempavgf     templowf
count  1319.000000  1319.000000  1319.000000
mean     80.862775    70.642911    59.902957
std      14.766523    14.045904    14.190648
min      32.000000    29.000000    19.000000
25%      72.000000    62.000000    49.000000
50%      83.000000    73.000000    63.000000
75%      92.000000    83.000000    73.000000
max     107.000000    93.000000    81.000000

In [8]:

for column in austin.columns:
    print(austin[column].value_counts())

2013-12-21    1
2016-05-25    1
2016-05-23    1
2016-05-22    1
2016-05-21    1
             ..
2015-03-05    1
2015-03-04    1
2015-03-03    1
2015-03-02    1
2017-07-31    1
Name: date, Length: 1319, dtype: int64
86     50
92     42
91     41
84     41
94     38
       ..
34      1
41      1
39      1
32      1
106     1
Name: temphighf, Length: 74, dtype: int64
84    61
89    48
76    45
86    42
87    41
      ..
38     2
37     2
32     2
30     1
93     1
Name: tempavgf, Length: 64, dtype: int64
75    71
76    66
77    59
74    50
68    40
      ..
28     2
24     1
81     1
19     1
21     1
Name: templowf, Length: 61, dtype: int64
74    112
75     95
73     80
67     54
70     54
     ...
22      1
80      1
26      1
25      1
13      1
Name: dewpointhighf, Length: 64, dtype: int64
71    84
72    78
73    71
70    57
69    54
      ..
13     2
8      1
21     1
14     1
18     1
Name: dewpointavgf, Length: 66, dtype: int64
66    62
65    54
64    52
69    52
68    46
      ..
6      1
4      1
2      1
7      1
11     1
Name: dewpointlowf, Length: 73, dtype: int64
100    221
93     218
94      98
87      96
90      73
88      58
85      53
84      40
91      37
97      35
86      33
82      31
92      25
89      23
79      21
96      19
76      16
71      13
80      13
83      12
72      12
73      12
78      12
77      11
81      10
70       8
63       8
67       8
68       8
58       7
60       7
66       6
74       6
75       6
59       6
64       6
61       4
65       4
57       4
69       4
56       4
62       3
51       3
55       3
53       3
37       2
95       2
-        2
44       2
42       2
54       2
50       1
49       1
45       1
52       1
48       1
47       1
43       1
Name: humidityhighpercent, dtype: int64
64    51
62    50
70    50
69    49
72    49
      ..
27     2
31     2
32     1
28     1
30     1
Name: humidityavgpercent, Length: 69, dtype: int64
52    46
33    43
49    41
44    41
27    40
      ..
75     1
13     1
80     1
11     1
85     1
Name: humiditylowpercent, Length: 82, dtype: int64
30.07    46
30.06    44
30.04    42
30.03    42
30.05    41
         ..
29.7      1
30.64     1
30.54     1
30.79     1
29.77     1
Name: sealevelpressurehighinches, Length: 105, dtype: int64
29.95    49
29.97    46
30.02    46
30       46
29.9     40
         ..
30.58     1
29.55     1
30.36     1
29.61     1
29.59     1
Name: sealevelpressureavginches, Length: 101, dtype: int64
29.88    48
29.81    47
29.86    45
29.9     45
29.89    44
         ..
30.45     1
29.58     1
29.51     1
30.46     1
29.5      1
Name: sealevelpressurelowinches, Length: 105, dtype: int64
10    1302
-       12
9        2
8        2
5        1
Name: visibilityhighmiles, dtype: int64
10    859
9     148
8     137
7      61
6      50
5      31
4      14
-      12
3       5
2       2
Name: visibilityavgmiles, dtype: int64
10    611
2     137
1     108
0      71
7      69
9      69
8      62
5      59
4      49
6      47
3      25
-      12
Name: visibilitylowmiles, dtype: int64
13    212
12    195
14    162
10    140
15    113
16     99
9      98
17     80
8      74
18     43
7      27
20     25
21     22
22     10
24      5
23      4
25      3
28      2
-       2
29      1
6       1
26      1
Name: windhighmph, dtype: int64
4     239
5     227
3     201
6     198
7     141
2     114
8      89
9      49
1      28
10     24
11      6
-       2
12      1
Name: windavgmph, dtype: int64
20    122
22     94
17     90
19     85
23     83
16     78
21     75
24     68
18     67
26     65
25     61
15     47
14     46
28     44
27     39
29     39
13     37
12     35
31     22
30     22
11     21
32     15
37     10
33     10
35     10
34      6
10      5
36      4
9       4
-       4
38      3
39      2
43      2
57      1
47      1
42      1
41      1
Name: windgustmph, dtype: int64
0       870
T       124
0.01     45
0.02     30
0.04     10
       ...
3.84      1
0.57      1
1.17      1
2.17      1
1.39      1
Name: precipitationsuminches, Length: 114, dtype: int64
                             903
Rain                         192
Rain , Thunderstorm          137
Fog , Rain , Thunderstorm     33
Fog                           21
Thunderstorm                  17
Fog , Rain                    14
Rain , Snow                    1
Fog , Thunderstorm             1
Name: events, dtype: int64

In [9]:
# Your code here
austin.head()

,date,temphighf,tempavgf,templowf,dewpointhighf,dewpointavgf,dewpointlowf,humidityhighpercent,humidityavgpercent,humiditylowpercent,...,sealevelpressureavginches,sealevelpressurelowinches,visibilityhighmiles,visibilityavgmiles,visibilitylowmiles,windhighmph,windavgmph,windgustmph,precipitationsuminches,events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,

#### Given the information you have learned from examining the dataset, write down three insights about the data in a markdown cell below

#### Your Insights:

1. There are 21 variables in the dataset. 3 of them are numeric and the rest contain some text.

2. The average temperature in Austin ranged between around 70 degrees F and around 93 degrees F. The highest temperature observed during this period was 107 degrees F and the lowest was 19 degrees F.

3. When we look at the head function, we see that a lot of variables contain numeric data even though these columns are of object type. This means we might have to do some data cleansing.

#### Let's examine the DewPointAvgF variable by using the `unique()` function to list all unique values in this dataframe.

Describe what you find in a markdown cell below the code. What did you notice? What do you think made Pandas to treat this column as *object* instead of *int64*?

In [10]:
# Your code here
unique_dewpointavgf = austin['dewpointavgf'].unique()

unique_dewpointavgf

array(['49', '36', '27', '28', '40', '39', '41', '26', '42', '22', '48',
       '32', '8', '11', '45', '55', '61', '37', '47', '25', '23', '20',
       '33', '30', '29', '17', '14', '13', '54', '59', '15', '24', '34',
       '35', '57', '50', '53', '60', '46', '56', '51', '31', '38', '62',
       '43', '63', '64', '67', '66', '58', '70', '68', '65', '69', '71',
       '72', '-', '73', '74', '21', '44', '52', '12', '75', '76', '18'],
      dtype=object)

In [11]:
# Your observation here

#There are no missing values

The following is a list of columns misrepresented as `object`. Use this list to convert the columns to numeric using the `pandas.to_numeric` function in the next cell. If you encounter errors in converting strings to numeric values, you need to catch those errors and force the conversion by supplying `errors='coerce'` as an argument for `pandas.to_numeric`. Coercing will replace non-convertable elements with `NaN` which represents an undefined numeric value. This makes it possible for us to conveniently handle missing values in subsequent data processing.

*Hint: you may use a loop to change one column at a time but it is more efficient to use `apply`.*

In [12]:
wrong_type_columns = ['DewPointHighF', 'DewPointAvgF', 'DewPointLowF', 'HumidityHighPercent', 
                      'HumidityAvgPercent', 'HumidityLowPercent', 'SeaLevelPressureHighInches', 
                      'SeaLevelPressureAvgInches' ,'SeaLevelPressureLowInches', 'VisibilityHighMiles',
                      'VisibilityAvgMiles', 'VisibilityLowMiles', 'WindHighMPH', 'WindAvgMPH', 
                      'WindGustMPH', 'PrecipitationSumInches']

In [13]:
# Your code here
new_column = [
    'dewpointhighf', 'dewpointavgf', 'dewpointlowf',
    'humidityhighpercent', 'humidityavgpercent', 'humiditylowpercent',
    'sealevelpressurehighinches', 'sealevelpressureavginches', 'sealevelpressurelowinches',
    'visibilityhighmiles', 'visibilityavgmiles', 'visibilitylowmiles',
    'windhighmph', 'windavgmph', 'windgustmph', 'precipitationsuminches'
]

# Convert the columns using pandas.to_numeric with error handling
austin[new_column] = austin[new_column].apply(pd.to_numeric, errors='coerce')

In [14]:
new_column

['dewpointhighf',
 'dewpointavgf',
 'dewpointlowf',
 'humidityhighpercent',
 'humidityavgpercent',
 'humiditylowpercent',
 'sealevelpressurehighinches',
 'sealevelpressureavginches',
 'sealevelpressurelowinches',
 'visibilityhighmiles',
 'visibilityavgmiles',
 'visibilitylowmiles',
 'windhighmph',
 'windavgmph',
 'windgustmph',
 'precipitationsuminches']

#### Check if your code has worked by printing the data types again. You should see only two `object` columns (`Date` and `Events`) now. All other columns should be `int64` or `float64`.

In [15]:
# Your code here
austin.head()

,date,temphighf,tempavgf,templowf,dewpointhighf,dewpointavgf,dewpointlowf,humidityhighpercent,humidityavgpercent,humiditylowpercent,...,sealevelpressureavginches,sealevelpressurelowinches,visibilityhighmiles,visibilityavgmiles,visibilitylowmiles,windhighmph,windavgmph,windgustmph,precipitationsuminches,events
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,29.68,29.59,10.0,7.0,2.0,20.0,4.0,31.0,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,30.13,29.87,10.0,10.0,5.0,16.0,6.0,25.0,0.00,
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,30.49,30.41,10.0,10.0,10.0,8.0,3.0,12.0,0.00,
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,30.45,30.30,10.0,10.0,7.0,12.0,4.0,20.0,0.00,
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,NaN,

In [16]:
austin.value_counts()

print(austin.dtypes)

date                           object
temphighf                       int64
tempavgf                        int64
templowf                        int64
dewpointhighf                 float64
dewpointavgf                  float64
dewpointlowf                  float64
humidityhighpercent           float64
humidityavgpercent            float64
humiditylowpercent            float64
sealevelpressurehighinches    float64
sealevelpressureavginches     float64
sealevelpressurelowinches     float64
visibilityhighmiles           float64
visibilityavgmiles            float64
visibilitylowmiles            float64
windhighmph                   float64
windavgmph                    float64
windgustmph                   float64
precipitationsuminches        float64
events                         object
dtype: object

# Challenge 2 - Handle the Missing Data

#### Now that we have fixed the type mismatch, let's address the missing data.

By coercing the columns to numeric, we have created `NaN` for each cell containing characters. We should choose a strategy to address these missing data.

The first step is to examine how many rows contain missing data.

We check how much missing data we have by applying the `.isnull()` function to our dataset. To find the rows with missing data in any of its cells, we apply `.any(axis=1)` to the function. `austin.isnull().any(axis=1)` will return a column containing true if the row contains at least one missing value and false otherwise. Therefore we must subset our dataframe with this column. This will give us all rows with at least one missing value. 

#### In the next cell, identify all rows containing at least one missing value. Assign the dataframes with missing values to a variable called `missing_values`.

In [17]:
# Your code here
austin.isnull().sum()

date                            0
temphighf                       0
tempavgf                        0
templowf                        0
dewpointhighf                   7
dewpointavgf                    7
dewpointlowf                    7
humidityhighpercent             2
humidityavgpercent              2
humiditylowpercent              2
sealevelpressurehighinches      3
sealevelpressureavginches       3
sealevelpressurelowinches       3
visibilityhighmiles            12
visibilityavgmiles             12
visibilitylowmiles             12
windhighmph                     2
windavgmph                      2
windgustmph                     4
precipitationsuminches        124
events                          0
dtype: int64

In [18]:
missing_values = austin[austin.isnull().any(axis=1)]

In [19]:
missing_values

,date,temphighf,tempavgf,templowf,dewpointhighf,dewpointavgf,dewpointlowf,humidityhighpercent,humidityavgpercent,humiditylowpercent,...,sealevelpressureavginches,sealevelpressurelowinches,visibilityhighmiles,visibilityavgmiles,visibilitylowmiles,windhighmph,windavgmph,windgustmph,precipitationsuminches,events
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,NaN,
6,2013-12-27,60,53,45,41.0,39.0,37.0,83.0,65.0,47.0,...,30.39,30.34,10.0,9.0,7.0,7.0,1.0,11.0,NaN,
7,2013-12-28,62,51,40,43.0,39.0,33.0,92.0,64.0,36.0,...,30.17,30.04,10.0,10.0,7.0,10.0,2.0,14.0,NaN,
42,2014-02-01,76,66,55,62.0,59.0,41.0,81.0,71.0,60.0,...,29.81,29.75,10.0,10.0,9.0,14.0,6.0,26.0,NaN,Rain
51,2014-02-10,60,48,35,49.0,36.0,30.0,82.0,74.0,66.0,...,30.15,30.02,10.0,8.0,4.0,15.0,9.0,23.0,NaN,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1269,2017-06-12,94,85,75,72.0,68.0,62.0,87.0,62.0,36.0,...,29.89,29.81,10.0,10.0,2.0,15.0,7.0,22.0,NaN,Rain
1288,2017-07-01,98,89,79,76.0,72.0,66.0,85.0,62.0,38.0,...,30.02,29.92,10.0,9.0,6.0,15.0,7.0,24.0,NaN,
1304,2017-07-17,98,88,77,75.0,71.0,66.0,88.0,63.0,38.0,...,29.90,29.84,10.0,10.0,10.0,16.0,3.0,23.0,NaN,"Rain , Thunderstorm"
1308,2017-07-21,104,91,77,74.0,68.0,61.0,85.0,56.0,27.0,...,29.95,29.86,10.0,10.0,10.0,14.0,5.0,24.0,NaN,
1313,2017-07-26,103,91,78,75.0,70.0,61.0,91.0,58.0,25.0,...,30.03,29.93,10.0,10.0,10.0,15.0,6.0,27.0,NaN,

There are multiple strategies to handle missing data. Below lists the most common ones data scientists use:

* Removing all rows or all columns containing missing data. This is the simplest strategy. It may work in some cases but not others.

* Filling all missing values with a placeholder value. 
    * For categorical data, `0`, `-1`, and `9999` are some commonly used placeholder values. 
    * For continuous data, some may opt to fill all missing data with the mean. This strategy is not optimal since it can increase the fit of the model.

* Filling the values using some algorithm. 

#### In our case, we will use a hybrid approach which is to first remove the data that contain most missing values then fill in the rest of the missing values with the *linear interpolation* algorithm.

In [51]:

threshold = 0.5 
columns_with_most_missing = austin.columns[austin.isnull().mean() > threshold]
df_cleaned = austin.dropna(subset=columns_with_most_missing, how='any')


df_cleaned_interpolated = df_cleaned.interpolate(method='linear', limit_direction='both')



df_cleaned_interpolated

,date,temphighf,tempavgf,templowf,dewpointhighf,dewpointavgf,dewpointlowf,humidityhighpercent,humidityavgpercent,humiditylowpercent,sealevelpressurehighinches,sealevelpressureavginches,sealevelpressurelowinches,visibilityhighmiles,visibilityavgmiles,visibilitylowmiles,windhighmph,windavgmph,windgustmph,events
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,29.86,29.68,29.59,10.0,7.0,2.0,20.0,4.0,31.0,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,30.41,30.13,29.87,10.0,10.0,5.0,16.0,6.0,25.0,
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,30.56,30.49,30.41,10.0,10.0,10.0,8.0,3.0,12.0,
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,30.56,30.45,30.30,10.0,10.0,7.0,12.0,4.0,20.0,
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,30.41,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,2017-07-27,103,89,75,71.0,67.0,61.0,82.0,54.0,25.0,30.04,29.97,29.88,10.0,10.0,10.0,12.0,5.0,21.0,
1315,2017-07-28,105,91,76,71.0,64.0,55.0,87.0,54.0,20.0,29.97,29.90,29.81,10.0,10.0,10.0,14.0,5.0,20.0,
1316,2017-07-29,107,92,77,72.0,64.0,55.0,82.0,51.0,19.0,29.91,29.86,29.79,10.0,10.0,10.0,12.0,4.0,17.0,
1317,2017-07-30,106,93,79,70.0,68.0,63.0,69.0,48.0,27.0,29.96,29.91,29.87,10.0,10.0,10.0,13.0,4.0,20.0,
1318,2017-07-31,99,88,77,66.0,61.0,54.0,64.0,43.0,22.0,30.04,29.97,29.91,10.0,10.0,10.0,12.0,4.0,20.0,

#### Next, count the number of rows of `austin` and `missing_values`.

In [21]:
# Your code here
num_rows_austin = len(austin)
num_rows_missing = len(missing_values)

print("Number of rows in 'austin' DataFrame:", num_rows_austin)
print("Number of rows in 'missing_values' DataFrame:", num_rows_missing)
missing_values

Number of rows in 'austin' DataFrame: 1319
Number of rows in 'missing_values' DataFrame: 136

,date,temphighf,tempavgf,templowf,dewpointhighf,dewpointavgf,dewpointlowf,humidityhighpercent,humidityavgpercent,humiditylowpercent,...,sealevelpressureavginches,sealevelpressurelowinches,visibilityhighmiles,visibilityavgmiles,visibilitylowmiles,windhighmph,windavgmph,windgustmph,precipitationsuminches,events
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,NaN,
6,2013-12-27,60,53,45,41.0,39.0,37.0,83.0,65.0,47.0,...,30.39,30.34,10.0,9.0,7.0,7.0,1.0,11.0,NaN,
7,2013-12-28,62,51,40,43.0,39.0,33.0,92.0,64.0,36.0,...,30.17,30.04,10.0,10.0,7.0,10.0,2.0,14.0,NaN,
42,2014-02-01,76,66,55,62.0,59.0,41.0,81.0,71.0,60.0,...,29.81,29.75,10.0,10.0,9.0,14.0,6.0,26.0,NaN,Rain
51,2014-02-10,60,48,35,49.0,36.0,30.0,82.0,74.0,66.0,...,30.15,30.02,10.0,8.0,4.0,15.0,9.0,23.0,NaN,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1269,2017-06-12,94,85,75,72.0,68.0,62.0,87.0,62.0,36.0,...,29.89,29.81,10.0,10.0,2.0,15.0,7.0,22.0,NaN,Rain
1288,2017-07-01,98,89,79,76.0,72.0,66.0,85.0,62.0,38.0,...,30.02,29.92,10.0,9.0,6.0,15.0,7.0,24.0,NaN,
1304,2017-07-17,98,88,77,75.0,71.0,66.0,88.0,63.0,38.0,...,29.90,29.84,10.0,10.0,10.0,16.0,3.0,23.0,NaN,"Rain , Thunderstorm"
1308,2017-07-21,104,91,77,74.0,68.0,61.0,85.0,56.0,27.0,...,29.95,29.86,10.0,10.0,10.0,14.0,5.0,24.0,NaN,
1313,2017-07-26,103,91,78,75.0,70.0,61.0,91.0,58.0,25.0,...,30.03,29.93,10.0,10.0,10.0,15.0,6.0,27.0,NaN,

#### Calculate the ratio of missing rows to total rows

In [22]:
# Your code here
ratio_missing_to_total = num_rows_missing / num_rows_austin

print("Ratio of missing rows to total rows:", ratio_missing_to_total)

Ratio of missing rows to total rows: 0.10310841546626232

As you can see, there is a large proportion of missing data (over 9%). Perhaps we should evaluate which columns have the most missing data and remove those columns. For the remaining columns, we will perform a linear approximation of the missing data.

We can find the number of missing rows in each column using the `.isna()` function. We then chain the `.sum` function to the `.isna()` function and find the number of missing rows per column

In [23]:
# Your code here
missing_rows_per_column = austin.isna().sum()
print("Number of missing rows per column:")
print(missing_rows_per_column)

Number of missing rows per column:
date                            0
temphighf                       0
tempavgf                        0
templowf                        0
dewpointhighf                   7
dewpointavgf                    7
dewpointlowf                    7
humidityhighpercent             2
humidityavgpercent              2
humiditylowpercent              2
sealevelpressurehighinches      3
sealevelpressureavginches       3
sealevelpressurelowinches       3
visibilityhighmiles            12
visibilityavgmiles             12
visibilitylowmiles             12
windhighmph                     2
windavgmph                      2
windgustmph                     4
precipitationsuminches        124
events                          0
dtype: int64

#### As you can see from the output, the majority of missing data is in one column called `PrecipitationSumInches`. What's the number of missing values in this column in ratio to its total number of rows?

In [24]:
# Your code here
missing_values_precipitation = missing_rows_per_column["precipitationsuminches"]
total_rows_precipitation = len(austin)

ratio_missing_precipitation = missing_values_precipitation / total_rows_precipitation

print("Ratio of missing values in 'PrecipitationSumInches' column to total rows:", ratio_missing_precipitation)

Ratio of missing values in 'PrecipitationSumInches' column to total rows: 0.09401061410159212

Over 10% data missing! Therefore, we prefer to remove this column instead of filling its missing values. It doesn't make sense to *guess* its missing values because the estimation will be too 

#### Remove this column from `austin` using the `.drop()` function. Use the `inplace=True` argument.

*Hints:*

* By supplying `inplace=True` to `drop()`, the original dataframe object will be changed in place and the function will return `None`. In contrast, if you don't supply `inplace=True`, which is equivalent to supplying `inplace=False` because `False` is the default value, the original dataframe object will be kept and the function returns a copy of the transformed dataframe object. In the latter case, you'll have to assign the returned object back to your variable.

* Also, since you are dropping a column instead of a row, you'll need to supply `axis=1` to `drop()`.

[Reference for `pandas.DataFrame.drop`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [25]:
# Your code here 


# Print `austin` to confirm the column is indeed removed

austin.drop("precipitationsuminches", axis=1, inplace=True)

In [26]:
austin

,date,temphighf,tempavgf,templowf,dewpointhighf,dewpointavgf,dewpointlowf,humidityhighpercent,humidityavgpercent,humiditylowpercent,sealevelpressurehighinches,sealevelpressureavginches,sealevelpressurelowinches,visibilityhighmiles,visibilityavgmiles,visibilitylowmiles,windhighmph,windavgmph,windgustmph,events
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,29.86,29.68,29.59,10.0,7.0,2.0,20.0,4.0,31.0,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,30.41,30.13,29.87,10.0,10.0,5.0,16.0,6.0,25.0,
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,30.56,30.49,30.41,10.0,10.0,10.0,8.0,3.0,12.0,
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,30.56,30.45,30.30,10.0,10.0,7.0,12.0,4.0,20.0,
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,30.41,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,2017-07-27,103,89,75,71.0,67.0,61.0,82.0,54.0,25.0,30.04,29.97,29.88,10.0,10.0,10.0,12.0,5.0,21.0,
1315,2017-07-28,105,91,76,71.0,64.0,55.0,87.0,54.0,20.0,29.97,29.90,29.81,10.0,10.0,10.0,14.0,5.0,20.0,
1316,2017-07-29,107,92,77,72.0,64.0,55.0,82.0,51.0,19.0,29.91,29.86,29.79,10.0,10.0,10.0,12.0,4.0,17.0,
1317,2017-07-30,106,93,79,70.0,68.0,63.0,69.0,48.0,27.0,29.96,29.91,29.87,10.0,10.0,10.0,13.0,4.0,20.0,
1318,2017-07-31,99,88,77,66.0,61.0,54.0,64.0,43.0,22.0,30.04,29.97,29.91,10.0,10.0,10.0,12.0,4.0,20.0,

#### Next we will perform linear interpolation of the missing data.

This means that we will use a linear algorithm to estimate the missing data. Linear interpolation assumes that there is a straight line between the points and the missing point will fall on that line. This is a good enough approximation for weather related data. Weather related data is typically a time series. Therefore, we do not want to drop rows from our data if possible. It is prefereable to estimate the missing values rather than remove the rows. However, if you have data from a single point in time, perhaps a better solution would be to remove the rows. 

If you would like to read more about linear interpolation, you can do so [here](https://en.wikipedia.org/wiki/Linear_interpolation).

In the following cell, use the `.interpolate()` function on the entire dataframe. This time pass the `inplace=False` argument to the function and assign the interpolated dataframe to a new variable called `austin_fixed` so that we can compare with `austin`.

In [27]:
# Your code here
austin_fixed = austin.interpolate(method='linear', inplace=False)

#### Check to make sure `austin_fixed` contains no missing data. Also check `austin` - it still contains missing data.

In [28]:
# Your code here
austin_fixed.isnull().sum()

date                          0
temphighf                     0
tempavgf                      0
templowf                      0
dewpointhighf                 0
dewpointavgf                  0
dewpointlowf                  0
humidityhighpercent           0
humidityavgpercent            0
humiditylowpercent            0
sealevelpressurehighinches    0
sealevelpressureavginches     0
sealevelpressurelowinches     0
visibilityhighmiles           0
visibilityavgmiles            0
visibilitylowmiles            0
windhighmph                   0
windavgmph                    0
windgustmph                   0
events                        0
dtype: int64

In [29]:
austin.isnull().sum()

date                           0
temphighf                      0
tempavgf                       0
templowf                       0
dewpointhighf                  7
dewpointavgf                   7
dewpointlowf                   7
humidityhighpercent            2
humidityavgpercent             2
humiditylowpercent             2
sealevelpressurehighinches     3
sealevelpressureavginches      3
sealevelpressurelowinches      3
visibilityhighmiles           12
visibilityavgmiles            12
visibilitylowmiles            12
windhighmph                    2
windavgmph                     2
windgustmph                    4
events                         0
dtype: int64

# Challenge 3 - Processing the `Events` Column

#### Our dataframe contains one true text column - the Events column. We should evaluate this column to determine how to process it.

Use the `value_counts()` function to evaluate the contents of this column

In [30]:
events_counts = austin['events'].value_counts()


events_counts

                             903
Rain                         192
Rain , Thunderstorm          137
Fog , Rain , Thunderstorm     33
Fog                           21
Thunderstorm                  17
Fog , Rain                    14
Rain , Snow                    1
Fog , Thunderstorm             1
Name: events, dtype: int64

Reading the values of `Events` and reflecting what those values mean in the context of data, you realize this column indicates what weather events had happened in a particular day.

#### What is the largest number of events happened in a single day? Enter your answer in the next cell.

In [31]:
# Your answer:
#rain

#### We want to transform the string-type `Events` values to the numbers. This will allow us to apply machine learning algorithms easily.

How? We will create a new column for each type of events (i.e. *Rain*, *Snow*, *Fog*, *Thunderstorm*. In each column, we use `1` to indicate if the corresponding event happened in that day and use `0` otherwise.

Below we provide you a list of all event types. Loop the list and create a dummy column with `0` values for each event in `austin_fixed`. To create a new dummy column with `0` values, simply use `austin_fixed[event] = 0`.

In [32]:


# Your code here

event_types = ['rain', 'snow', 'fog', 'thunderstorm']

for event in event_types:
    austin_fixed[event] = 0



austin_fixed

,date,temphighf,tempavgf,templowf,dewpointhighf,dewpointavgf,dewpointlowf,humidityhighpercent,humidityavgpercent,humiditylowpercent,...,visibilityavgmiles,visibilitylowmiles,windhighmph,windavgmph,windgustmph,events,rain,snow,fog,thunderstorm
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,7.0,2.0,20.0,4.0,31.0,"Rain , Thunderstorm",0,0,0,0
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,5.0,16.0,6.0,25.0,,0,0,0,0
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,8.0,3.0,12.0,,0,0,0,0
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,7.0,12.0,4.0,20.0,,0,0,0,0
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,7.0,10.0,2.0,16.0,,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,2017-07-27,103,89,75,71.0,67.0,61.0,82.0,54.0,25.0,...,10.0,10.0,12.0,5.0,21.0,,0,0,0,0
1315,2017-07-28,105,91,76,71.0,64.0,55.0,87.0,54.0,20.0,...,10.0,10.0,14.0,5.0,20.0,,0,0,0,0
1316,2017-07-29,107,92,77,72.0,64.0,55.0,82.0,51.0,19.0,...,10.0,10.0,12.0,4.0,17.0,,0,0,0,0
1317,2017-07-30,106,93,79,70.0,68.0,63.0,69.0,48.0,27.0,...,10.0,10.0,13.0,4.0,20.0,,0,0,0,0
1318,2017-07-31,99,88,77,66.0,61.0,54.0,64.0,43.0,22.0,...,10.0,10.0,12.0,4.0,20.0,,0,0,0,0

#### Next, populate the actual values in the dummy columns of  `austin_fixed`.

You will check the *Events* column. If its string value contains `Rain`, then the *Rain* column should be `1`. The same for `Snow`, `Fog`, and `Thunderstorm`.

*Hints:*

* Use [`pandas.Series.str.contains()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html) to create the value series of each new column.

* What if the values you populated are booleans instead of numbers? You can cast the boolean values to numbers by using `.astype(int)`. For instance, `pd.Series([True, True, False]).astype(int)` will return a new series with values of `[1, 1, 0]`.

In [33]:
# Your code here
event_types = ['rain', 'snow', 'fog', 'thunderstorm']

for event in event_types:
    austin_fixed[event] = austin_fixed['events'].str.contains(event).astype(int)

#### Print out `austin_fixed` to check if the event columns are populated with the intended values

In [34]:
# Your code here
austin_fixed

,date,temphighf,tempavgf,templowf,dewpointhighf,dewpointavgf,dewpointlowf,humidityhighpercent,humidityavgpercent,humiditylowpercent,...,visibilityavgmiles,visibilitylowmiles,windhighmph,windavgmph,windgustmph,events,rain,snow,fog,thunderstorm
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,7.0,2.0,20.0,4.0,31.0,"Rain , Thunderstorm",0,0,0,0
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,5.0,16.0,6.0,25.0,,0,0,0,0
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,8.0,3.0,12.0,,0,0,0,0
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,7.0,12.0,4.0,20.0,,0,0,0,0
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,7.0,10.0,2.0,16.0,,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,2017-07-27,103,89,75,71.0,67.0,61.0,82.0,54.0,25.0,...,10.0,10.0,12.0,5.0,21.0,,0,0,0,0
1315,2017-07-28,105,91,76,71.0,64.0,55.0,87.0,54.0,20.0,...,10.0,10.0,14.0,5.0,20.0,,0,0,0,0
1316,2017-07-29,107,92,77,72.0,64.0,55.0,82.0,51.0,19.0,...,10.0,10.0,12.0,4.0,17.0,,0,0,0,0
1317,2017-07-30,106,93,79,70.0,68.0,63.0,69.0,48.0,27.0,...,10.0,10.0,13.0,4.0,20.0,,0,0,0,0
1318,2017-07-31,99,88,77,66.0,61.0,54.0,64.0,43.0,22.0,...,10.0,10.0,12.0,4.0,20.0,,0,0,0,0

#### If your code worked correctly, now we can drop the `Events` column as we don't need it any more.

In [35]:
# Your code here
austin_fixed.drop("events", axis=1, inplace=True)

# Challenge 4 - Processing The `Date` Column

The `Date` column is another non-numeric field in our dataset. A value in that field looks like `'2014-01-06'` which consists of the year, month, and day connected with hyphens. One way to convert the date string to numerical is using a similar approach as we used for `Events`, namely splitting the column into numerical `Year`, `Month`, and `Day` columns. In this challenge we'll show you another way which is to use the Python `datetime` library's `toordinal()` function. Depending on what actual machine learning analysis you will conduct, each approach has its pros and cons. Our goal today is to practice data preparation so we'll skip the discussion here.

Here you can find the [reference](https://docs.python.org/3/library/datetime.html) and [example](https://stackoverflow.com/questions/39846918/convert-date-to-ordinal-python) for `toordinal`. The basic process is to first convert the string to a `datetime` object using `datetime.datetime.strptime`, then convert the `datetime` object to numerical using `toordinal`.

#### In the cell below, convert the `Date` column values from string to numeric values using `toordinal()`.

In [36]:
# Your code here

from datetime import datetime

austin_fixed['date'] = austin_fixed['date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d').toordinal())

#### Print `austin_fixed` to check your `Date` column.

In [37]:
austin_fixed.head(20)

,date,temphighf,tempavgf,templowf,dewpointhighf,dewpointavgf,dewpointlowf,humidityhighpercent,humidityavgpercent,humiditylowpercent,...,visibilityhighmiles,visibilityavgmiles,visibilitylowmiles,windhighmph,windavgmph,windgustmph,rain,snow,fog,thunderstorm
0,735223,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,10.0,7.0,2.0,20.0,4.0,31.0,0,0,0,0
1,735224,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,10.0,5.0,16.0,6.0,25.0,0,0,0,0
2,735225,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,10.0,8.0,3.0,12.0,0,0,0,0
3,735226,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,10.0,7.0,12.0,4.0,20.0,0,0,0,0
4,735227,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,10.0,7.0,10.0,2.0,16.0,0,0,0,0
5,735228,57,48,39,39.0,36.0,33.0,79.0,63.0,47.0,...,10.0,9.0,7.0,12.0,3.0,17.0,0,0,0,0
6,735229,60,53,45,41.0,39.0,37.0,83.0,65.0,47.0,...,10.0,9.0,7.0,7.0,1.0,11.0,0,0,0,0
7,735230,62,51,40,43.0,39.0,33.0,92.0,64.0,36.0,...,10.0,10.0,7.0,10.0,2.0,14.0,0,0,0,0
8,735231,64,50,36,49.0,41.0,28.0,92.0,76.0,60.0,...,10.0,10.0,4.0,17.0,5.0,24.0,0,0,0,0
9,735232,44,40,35,31.0,26.0,21.0,75.0,60.0,45.0,...,10.0,10.0,10.0,13.0,5.0,21.0,0,0,0,0
10,735233,55,46,36,31.0,28.0,23.0,76.0,54.0,32.0,...,10.0,10.0,10.0,8.0,1.0,12.0,0,0,0,0
11,735234,69,54,39,51.0,42.0,30.0,83.0,68.0,52.0,...,10.0,10.0,8.0,13.0,4.0,22.0,0,0,0,0
12,735235,55,44,33,39.0,26.0,19.0,83.0,55.0,26.0,...,10.0,10.0,9.0,21.0,8.0,31.0,0,0,0,0
13,735236,58,43,28,37.0,22.0,18.0,75.0,49.0,22.0,...,10.0,10.0,10.0,14.0,4.0,21.0,0,0,0,0
14,735237,71,57,42,55.0,48.0,38.0,89.0,68.0,47.0,...,10.0,10.0,8.0,16.0,7.0,28.0,0,0,0,0
15,735238,59,47,34,54.0,32.0,15.0,87.0,59.0,31.0,...,10.0,10.0,4.0,21.0,10.0,34.0,0,0,0,0
16,735239,36,29,22,15.0,8.0,2.0,50.0,38.0,26.0,...,10.0,10.0,10.0,17.0,7.0,27.0,0,0,0,0
17,735240,48,35,22,29.0,11.0,4.0,68.0,43.0,17.0,...,10.0,10.0,10.0,13.0,5.0,22.0,0,0,0,0
18,735241,53,47,40,51.0,45.0,30.0,93.0,75.0,57.0,...,10.0,2.0,1.0,12.0,1.0,18.0,0,0,0,0
19,735242,70,62,53,60.0,55.0,50.0,93.0,80.0,66.0,...,10.0,4.0,0.0,12.0,3.0,19.0,0,0,0,0

# Challenge 5 - Sampling and Holdout Sets

#### Now that we have processed the data for machine learning, we will separate the data to test and training sets.

We first train the model using only the training set. We check our metrics on the training set. We then apply the model to the test set and check our metrics on the test set as well. If the metrics are significantly more optimal on the training set, then we know we have overfit our model. We will need to revise our model to ensure it will be more applicable to data outside the test set.

#### In the next cells we will separate the data into a training set and a test set using the `train_test_split()` function in scikit-learn.

When using `scikit-learn` for machine learning, we first separate the data to predictor and response variables. This is the standard way of passing datasets into a model in `scikit-learn`. The `scikit-learn` will then find out whether the predictors and responses fit the model.

In the next cell, assign the `TempAvgF` column to `y` and the remaining columns to `X`. Your `X` should be a subset of `austin_fixed` containing the following columns: 

```['Date',
 'TempHighF',
 'TempLowF',
 'DewPointHighF',
 'DewPointAvgF',
 'DewPointLowF',
 'HumidityHighPercent',
 'HumidityAvgPercent',
 'HumidityLowPercent',
 'SeaLevelPressureHighInches',
 'SeaLevelPressureAvgInches',
 'SeaLevelPressureLowInches',
 'VisibilityHighMiles',
 'VisibilityAvgMiles',
 'VisibilityLowMiles',
 'WindHighMPH',
 'WindAvgMPH',
 'WindGustMPH',
 'Snow',
 'Fog',
 'Rain',
 'Thunderstorm']```
 
 Your `y` should be a subset of `austin_fixed` containing one column `TempAvgF`.

In [38]:
austin_fixed.head(1)

,date,temphighf,tempavgf,templowf,dewpointhighf,dewpointavgf,dewpointlowf,humidityhighpercent,humidityavgpercent,humiditylowpercent,...,visibilityhighmiles,visibilityavgmiles,visibilitylowmiles,windhighmph,windavgmph,windgustmph,rain,snow,fog,thunderstorm
0,735223,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,10.0,7.0,2.0,20.0,4.0,31.0,0,0,0,0

In [39]:
X = austin_fixed[['date', 'temphighf', 'templowf', 'dewpointhighf', 'dewpointavgf', 'dewpointlowf',
                  'humidityhighpercent', 'humidityavgpercent', 'humiditylowpercent',
                  'sealevelpressurehighinches', 'sealevelpressureavginches', 'sealevelpressurelowinches',
                  'visibilityhighmiles', 'visibilityavgmiles', 'visibilitylowmiles',
                  'windhighmph', 'windavgmph', 'windgustmph', 'snow', 'fog', 'rain', 'thunderstorm']]

y = austin_fixed[['tempavgf']]

In the next cell, import `train_test_split` from `sklearn.model_selection`

In [48]:
#Your code here:
from sklearn.model_selection import train_test_split

Now that we have split the data to predictor and response variables and imported the `train_test_split()` function, split `X` and `y` into `X_train`, `X_test`, `y_train`, and `y_test`. 80% of the data should be in the training set and 20% in the test set. `train_test_split()` reference can be accessed [here](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html).


Enter your code in the cell below:

In [50]:
#Your code here:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#### Congratulations! Now you have finished the preparation of the dataset!

# Bonus Challenge 1

#### While the above is the common practice to prepare most datasets, when it comes to time series data, we sometimes do not want to randomly select rows from our dataset.

This is because many time series algorithms rely on observations having equal time distances between them. In such cases, we typically select the majority of rows as the test data and the last few rows as the training data. We don't use `train_test_split()` to select the train/test data because it returns random selections.

In the following cell, compute the number of rows that account for 80% of our data and round it to the next integer. Assign this number to `ts_rows`.

In [42]:
# Your code here:

Assign the first `ts_rows` rows of `X` to `X_ts_train` and the remaining rows to `X_ts_test`.

In [43]:
# Your code here:

Assign the first `ts_rows` rows of `y` to `y_ts_train` and the remaining rows to `y_ts_test`.

In [44]:
# Your code here:

# Bonus Challenge 2

As explained in the README, the main purpose of this lab is to show you the typical process of preparing data for machine learning which sometimes takes up 90% of your time. Data cleaning is a valuable skill to learn and you need to be proficient at various techniques including the ones we showed you above as well as others you'll learn in the future. In the real world this skill will help you perform your job successfully and efficiently.

Now that we're done with data praparation, if you want to expeirence what you'll do in the rest 10% of your time, let's make the final leap.

We will use scikit-learn's [*Support Vector Machines*](https://scikit-learn.org/stable/modules/svm.html) to compute the fit of our training data set, the test on our test data set.

#### In the cell below, import `svm` from `sklearn`:

In [45]:
# Your code here

#### Now, call `svm.SVC.fit()` on `X_train` and `y_train`. Assign the returned value to a variable called `clf` which stands for *classifier*. Then obtain the test score for `X_test` and `y_test` by calling `clf.score()`.

In [46]:
# Your code here

#### You now see the model fit score of your test data set. If it's extremely low, it means your selected model is not a good fit and you should try other models.

#### In addition to fitting `X_train`, `y_train`, `X_test`, and `y_test`, you can also fit `X_ts_train`, `y_ts_train`, `X_ts_test`, and `y_ts_test` if you completed Bonus Challenge 1.

In [47]:
# Your code here

#### We hope you have learned a lot of useful stuff in this lab!